/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body{
	background-color: paleturquoise;
	font-family: 'Berkshire Swash', cursive;
	
	
}


.navbar {
	overflow: hidden;
	position: absolute;
	top: 30px;
	right: 0px;
	width: 330px;
}

.navbar a{
	color: darkslateblue;
	text-decoration: none;
	font-size: 16px;
	padding: 5px;

}

.navbar a:hover{
	color: mediumblue;
	font-size: 20px;
}

.social{
	overflow: hidden;
	position: absolute;
	top: 60px;
	right: 10px;
	width: 250px;
	text-align: center;
}

.social a:hover{
 font-size: 22px;
}

.fab{
	width: 50px;
	height: 50px;
	
}

.hide{
	display: none;
}



h1{
	font-size: 30px;
	padding: 25px;
	font-family: 'Cinzel Decorative', cursive;
}

h2 {
	font-size: 30px;
	padding: 20px;
	font-family: 'Kaushan Script', cursive;
}



.flex-container{
	display: flex;
	position:relative;
	height: 650px;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	background-color: paleturquoise;
	padding: 20px;

}
.flex-container figure {
	flex: 0 1 33%;
}

.flex-container figure img {
	width: 100%;
	padding: 10px;
}


h3{
	font-size: 20px;
	padding: 20px;
	font-family: 'Kaushan Script', cursive;
	
}

p{
	font-size: 18px;
	text-align: justify;
	padding: 20px;
	line-height: 22px;
	
}

ul{
	padding: 20px;
	font-family: 'Berkshire Swash', cursive;
	font-size: 18px;
	
}

img{
	float: right;
}




@media screen and (max-width: 768px) {
	.flex-container figure {
		flex: 0 1 50%;
	}

}

@media screen and (max-width: 480px) {
	.flex-container figure {
		flex: 0 1 100%;
	}

}



